<h1>{{ com.comm_name}} Community Page</h1>

<a href="/addpost/">Add Post</a>
<a href="/addcommunity/">Add Community</a>
<a href="/login/">Login</a>
<a href="/logout/">Logout</a>
<a href="/profile/{{user.id}}">Your Profile</a>
<a href="/">Home</a>
<br />

<p>Website: {{ com.comm_url}}</p>
<p>About: {{ com.comm_about}}</p>
<p>Community Creator: {{ com.comm_creator}}</p>
<p>Date Created: {{ com.created_on}}</p>



{% if com.comm_creator%}
<button><a href="/editCommunity/{{com.id}}">Edit Community</a></li></button>
{% endif %}