<h1>Community Profile Page</h1>
{{community_id.comm_name}} {{community_id.comm_about}} {{ com.comm_name}} {% for
com in com %}
<ul>
  <li>
    <a href="/community_id/{{com.comm_name}}/">{{community_id.comm_about}}</a>
  </li>

  <li>
    <a href="/community_id/{{com.comm_creator}}/"
      >{{community_id.comm_creator}}</a
    >
  </li>

  <li>
    <a href="/community_id/{{com.comm_about}}/">{{community_id.comm_about}}</a>
  </li>

  <a href="/addcomment/"><button>Comment</button></a>
</ul>
{% endfor %}
